.victoria {
    color: #0098D4;
    border-color: #0098D4;
}

.piccadilly {
    color: 	#003688;
    border-color: #003688;
}

.northern {
    color: 	black;
    border-color: black;
}
.overground {
    color: #EE7C0E;
    border-color: #EE7C0E;
}

.metropolitan {
    color: #9B0056;
    border-color: #9B0056;
}

.jubilee {
    color: #A0A5A9;
    border-color: #A0A5A9;
}

.hammersmith-city {
    color: #F3A9BB;
    border-color: #F3A9BB;
}

.dlr {
    color: #00A4A7;
    border-color: #00A4A7;
}

.district {
    color: #00782A;
    border-color: #00782A;
}

.circle {
    color: #FFD300;
    border-color: #FFD300;
}

.central {
    color: #E32017;
    border-color: #E32017;
}

.bakerloo {
    color: #B36305;
    border-color: #B36305;
}

.waterloo-city {
    color: #95CDBA;
    border-color: #95CDBA;
}







