{% extends "template.html" %}

{% block content %}

<div ng-controller="SearchController">
<div class="grid relative">
    <div class="card searchContainer">
        <div class="searchWrapper">

                <div class="unit whole align-center "><span class="heading">The Traveling Tourist</span></div>

                <div class="slider unit whole">
                    <div class="unit half align-center">
                        <p><strong>Step 1.</strong><br/> Add 2 or more places to visit in London (e.g. London eye)</p>
                    </div>
                    <div class="unit half align-center">
                        <p><strong>Step 2.</strong><br/> Click ROUTE! for quickest tube journey that visits all.</p>
                    </div>
                </div>

                <div class="searchBox">
                    <autocomplete ng-model="search_query" ng-model-options="{debounce: 700}" data="placeNames" on-type="searchPlaces" on-select="addPlace" attr-input-id="searchBox" attr-placeholder="Type a place in London..."></autocomplete>
                </div>
        </div>
    </div>

    <div class="card placesContainer grid" ng-show="selectedPlaces.length > 0">
        <div class="unit whole">
            <div class="content">

                <div class="card-title">PLACES TO VISIT</div>

                <div class="places unit whole" ng-repeat="place in selectedPlaces">
                    <span class="align-left" ng-bind="place['name']"></span> <span class="fa fa-trash-o red pull-right" ng-click="removePlace($index)"></span>
                </div>

                <div class="divider"></div>

                <button class="btn pull-right" ng-if="routingDisabled()" disabled>ROUTE!</button>
                <button class="btn pull-right btn-green" ng-click="getRoute()" ng-if="!routingDisabled()">ROUTE!</button>
            </div>
        </div>
    </div>
</div>

<div id="map"></div>

<div class="modal">
    <div class="grid" ng-show="loading">
        <div class="spinner">
            <img src="/static/img/spinner.gif" alt="Loading"/>
        </div>
    </div>
<div class="grid" ng-hide="loading">
    <div class="unit whole">
        <span class="heading">Your Route &mdash; ({[{ route['totalTime'] | number:0 }]} mins total)</span>
        <span class="modal-close"><span class="fa fa-times"></span></span>
    </div>
    <div class="unit whole overflow-scroll">
        <div class="grid">
            <div class="unit whole">
                <p>Below is a near-optimal path that visits every point in your journey:</p>
                <div ng-repeat="waypoints in route['route']" class="waypoints-container card">
                    <div class="journey-walking">
                        <div ng-if="$index == 0"><strong >Start at {[{ route['locations'][$index][0] }]} </strong></div>
                        <span>Walk from {[{ route['locations'][$index][0] }]} to {[{ waypoints[0]['from'] }]} station.
                        <strong>( {[{ getWalkingTime($index) }]} )</strong></span>
                    </div>
                    <div class="journey-time">
                        Travel via underground ({[{ getTubeJourneyTime(waypoints) }]} mins)
                    </div>
                    <div ng-repeat="waypoint in waypoints" class="waypoints">
                        <div class="journey-node">
                            <div class="journey-blob"></div>
                            <span class="journey-node-text" ng-bind="waypoint['from']"></span>
                        </div>
                        <div class="journey-between">
                            <div class="line">
                                <img src="" ng-src="/static/img/{[{ waypoint['line'] }]}.png" alt=""/>
                            </div>
                            <div class="journey-line {[{ waypoint['line'] }]}"></div>
                        </div>
                    </div>
                    <div class="journey-node">
                            <span class="journey-node-text" ng-bind="waypoints[waypoints.length - 1]['to']"></span>
                            <div class="journey-blob"></div>
                    </div>
                    <br/><br/><br/>
                    <div class="journey-walking">
                        <span>Walk to {[{ route['locations'][$index + 1][0] }]} <strong>( {[{ getWalkingTime($index + 1) }]} )</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}